notebooks/mja_tf/data
notebooks/mja_tf/tf_practice.ipynb
notebooks/mja_tf/.ipynb_checkpoints
*.png
*.pkl
notebooks/mja_tf/UnsupervisedFeatureLearning*
notebooks/mja_tf/sentinel*
notebooks/mja_tf/UCM*
notebooks/mja_tf/#UnsupervisedFeatureLearning*
notebooks/mja_tf/MaxIt*
*.xlsx
*.tiff

*.ipynb_checkpoints
