awscli
affine 
pyhamcrest 
cython 
fiona 
h5py 
ncurses 
jupyter 
jupyterlab 
ipykernel 
matplotlib 
ncurses 
numpy 
statsmodels 
pandas 
pillow 
pip 
scipy 
scikit-image 
scikit-learn 
shapely 
rtree 
testpath 
tqdm 
pandas 
opencv 